*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5vw;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 100vh;
    width: 40%;
    height: 70%;
    background: rgb(255, 247, 233);
    box-shadow: 1px 1px 20px rgb(255, 244, 244);
}

.main{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

.head, .body, .footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    border: 1px solid black;
}

.head{
    width: 100%;
    height: 15%;
}

.body{
    align-items: flex-start;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    width: 100%;
    height: 15%;
}

.date{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.check{
    margin-left: auto;
    padding: 10px;
}

.list{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-left: 0%;
    transform: translateX(0) translateY(0);
    margin-top: 0;
    opacity: 100%;
    padding: 10px; 
}

.list.finished .strike::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5%;
    background: black;
    animation: strike 0.5s;
}

.list.vanish{
    animation: vanish 0.5s;
    animation-fill-mode: forwards;
}

.list.new{
    animation: enter 1s ;
}

@keyframes enter{
    0%{
        margin-left: 50%;
    }
    100%{
        margin-left: 0;
    }
}

@keyframes vanish{
    0%{
        transform: translateY(0);
        opacity: 100%;
    }
    50%{
        transform: translateX(130%);
        opacity: 0%;
    }
    100%{
        transform: translateX(130%);
        margin-top: -10vh;
    }
}

@keyframes strike{
    0%{
        width: 0;
    }
    100%{
       width: 100%;
    }
}

.description{
    position: fixed;
    width: auto;
    height: auto;
    z-index: 10000;
    left: 0;
    top: 0;
    border: 1px solid black;
    background: rgb(255, 247, 233);
    pointer-events: none;
    border-radius: 20px;
    padding: 15px;
    transition: padding 0.5s;
}

.description.static{
    padding: 5px;
    border-radius: 50%;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* Not removed via appearance */
    font: inherit;
    color: currentColor;    
    width: 3%;
    height: 3%;
    border: 2px solid currentColor;
    border-radius: 50%;
    display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em palevioletred;
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0.3vw;
    font-size: 1.5vw;
    background: none;
    border: 1px solid black;
    outline: none;
    border-radius: 1vw;
}

.actions{
    position: absolute;
    opacity: 0;
    right: -10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
    width: 20%;
    gap: 10px;
    background: rgb(255, 247, 233);
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.5s;
}

.actions.opened{
    right: 5vw;
    opacity: 100%;
}


.confirm{
    background: rgb(244, 255, 125);
    filter: drop-shadow(0 0 0.75rem rgb(244, 255, 125));
}

.decline{
    background: rgb(255, 160, 133);
    filter: drop-shadow(0 0 0.75rem rgb(255, 160, 133));
}

.nav{
    position: absolute;
    width: 50%;
    height: 100%;
    right: -20vw;
    top: 0;
    opacity: 0;
    background: rgb(255, 247, 233);
    border-radius: 0 20px 20px 0;
    transition: 0.5s;
    box-shadow: 0px 0 black;
    z-index: 1000000;
}

.nav.opened{
    transform: scale(1.1);
    right: -10vw;
    opacity: 100%;
    box-shadow: -10px 0 black;
}

.nav.opened + .main{
    background: rgba(192, 120, 100, 0.301);
}

textarea{
    resize: none;
}

input, textarea{
    width: 100%;
    font-size: 1.5vw;
    outline: none;
    font-size: 1.3vw;
}

.loadingStatus.loading{
    opacity: 100%;
}

.loadingStatus {
    opacity: 0;
}